<% provide(:title, "Home" ) %>

   

    <div class="center jumbotron">
        
        <h1>Popular</h1>
        <span><a href="#" align="right"><p class="glyphicon glyphicon-plus" role="button"> SEE ALL</p></a></span>
        
    </div>

    <div class="center jumbotron">
        
        <h1>Collections</h1>
        <span><a href="allItems" align="right"><p class="glyphicon glyphicon-plus" role="button"> SEE ALL</p></a></span>
        
        <div class="center-table">
            <div class="row">
                <div class="col-sm-12 col-md-20">
                    <a href="womens">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Womens</h3>
                            <p><%=@itemCountWomens%> items</p>
                        </div>
                    </div>
                    </a>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-6 col-md-16">
                    <div class="row">
                        <a href="mens">
                        <div class="thumbnail">
                            <div class="caption">
                                <h3>Mens</h3>
                                <p><%=@itemCountMens%> items</p>
                            </div>
                        </div>
                        </a>
                    </div>

                    <div class="row">
                        <a href="kids">
                        <div class="thumbnail">
                            <div class="caption">
                                <h3>Kids</h3>
                                <p><%=@itemCountKids%> items</p>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>


                <div class="col-sm-6 col-md-16">
                    <a href="newin">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>New In</h3>
                            <p><%=@itemCountNewIn%> items</p>
                        </div>
                    </div>
                    </a>
                </div>


            </div>
        </div>

    </div>

    <div class="center jumbotron">
        <h1>Newsletter</h1>

        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">📧</span>
            <input type="text" class="form-control" placeholder="Enter your email" aria-describedby="basic-addon1">
            
        </div>
        <p><span class="glyphicon glyphicon-send"></p>

    </div>