<h1>Hi First Time Customer</h1>

<p>Time permitting please leave our website a rating:</p>

<form action="/ratingSubmitted">
<label for="rating">Review of Amazing Website:</label>
<textarea id="rating" name="rating" rows="4" cols="50">
</textarea>
<br>
<input type="submit" class="btn btn-lg" />
</form>