<% provide(:title, "Home") %>

<div class="center jumbotron">
<h1>Hi James</h1>
<p>The dropdown works now, we were misssing "include bootstrap" in application.js</p>
<p>Also I changed the icon to a hamburger menu</p>
<p>Hovering over the logo now doesn't add an underline</p>
<p>Oh, and those images!!</p>


</div>

 <div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="" class="thumbnail">
      <img src="https://picsum.photos/200" alt="random picture">
    </a>
  </div>
    <div class="col-xs-6 col-md-3">
    <a href="" class="thumbnail">
      <img src="https://picsum.photos/201" alt="random picture">
    </a>
    <a href="" class="thumbnail">
      <img src="https://picsum.photos/199" alt="random picture">
    </a>
  </div>
    <div class="col-xs-6 col-md-3">
    <a href="" class="thumbnail">
      <img src="https://picsum.photos/202" alt="random picture">
    </a>
    <a href="" class="thumbnail">
      <img src="https://picsum.photos/197" alt="sexy elf">
    </a>
    <a href="" class="thumbnail">
      <img src="https://picsum.photos/196" alt="random picture">
    </a>
  </div>
     <div class="col-xs-6 col-md-3">
    <a href="" class="thumbnail">
      <img src="https://picsum.photos/203" alt="random picture">
    </a>
  </div>
</div>
