<% provide(:title, "Home") %>

<div class="center jumbotron">
<h1>Item of the day</h1>
<img src="https://picsum.photos/400" alt="random picture">
</div>

 <div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="" class="thumbnail">
      <img src="https://picsum.photos/200" alt="random picture">
    </a>
  </div>
    <div class="col-xs-6 col-md-3">
    <a href="" class="thumbnail">
      <img src="https://picsum.photos/201" alt="random picture">
    </a>
    <a href="" class="thumbnail">
      <img src="https://picsum.photos/199" alt="random picture">
    </a>
  </div>
    <div class="col-xs-6 col-md-3">
    <a href="" class="thumbnail">
      <img src="https://picsum.photos/202" alt="random picture">
    </a>
    <a href="" class="thumbnail">
      <img src="https://picsum.photos/197" alt="sexy elf">
    </a>
    <a href="" class="thumbnail">
      <img src="https://picsum.photos/196" alt="random picture">
    </a>
  </div>
     <div class="col-xs-6 col-md-3">
    <a href="" class="thumbnail">
      <img src="https://picsum.photos/203" alt="random picture">
    </a>
  </div>
</div>