<div class="jumbotron jumbotron-fluid">
  <div class="container">
  <h1 style="text-align:left;"><%= current_user.username %> <span style="float:right;"><img src="https://styles.redditmedia.com/t5_3devk/styles/communityIcon_56oosymx1ab51.png?width=256&s=bdc39e064f1879783bccb06525132d3acf802ca7"></span></h1> 
    <p>peepeepoopoo <- this is not your password</p>
    <p><%= current_user.created_at %> <- this when your account was created</p>
  </div>
</div>
 



<br>
<a href="/profile/subscription"><p>Subscribe to us</p></a>
<a href="/profile/updateDetails"><p>Update your details</p></a>
<a href="/profile/pendingOrders"><p>Pending Orders</p></a>
<a href="/"><p>Invade Poland</p></a>

