<nav class="navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    
      
      <ul class="nav navbar-nav">
         <%= render 'layouts/main_sidebar' %>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="navbar-item"><%= button_to "SIGN OUT", destroy_user_session_path, method: :delete, class: "btn btn-default"  %></li>
            <li class="navbar-item" style="font-size: 24px"><a class="glyphicon glyphicon-shopping-cart" role="button" href="/carts/show"></a></li>
          <% else %>
            <li class="navbar-item" style="font-size: 24px"><a onclick="alertForCart()" class="glyphicon glyphicon-shopping-cart" role="button" href="/users/sign_in"></a></li>
            <script>
            function alertForCart() {
              alert("Login to proceed");
            }
            </script>
          <% end %>
          
          <li class="navbar-item"><a href="/users/sign_in"><button type="button" class="btn btn-default">LOGIN</button></a></li>
          
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </form>
      </ul>
      
    </div>
  </div>
</nav>